body {
   background-color: #333;
}

section {
   border: 1px black solid;
   margin: 10px auto;
   padding: 10px;
   text-align: center;
   font-size: 2rem;
}

nav {
   margin-left: 90%;
}
 
form {
   display: flex;
   

}

input {
   background-color: #333;
   border: 1px solid black;
   border-radius: 10px;
   white-space: 10px;
}

button {
   background-color: #333;
   border: 1px solid black;
   border-radius: 10px;
}